[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[user]
	name = Ryo Kanazawa
	email = ryoau9@gmail.com
[color]
	ui = auto
[alias]
	logg = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(white dim)%an, %ar%Creset'
